body {
	margin: 0;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
  background-color: #ff7cbf;
  padding: 10px;
}
h1 {
  font-size: 50px;
  color: #5DFF3E;
  text-transform: uppercase;
}
h3 {
  font-size: 25px;
  color: #45FFD4;
}
p{
  font-size: 25px;
  color: #BAFF49;
}